    table {
    border: 4px double #333; /* Рамка вокруг таблицы */
    border-collapse: separate; /* Способ отображения границы */
    width: 100%; /* Ширина таблицы */
    border-spacing: 7px 11px; /* Расстояние между ячейками */
   }
   td
   {
    padding: 5px; /* Поля вокруг текста */
    border-top:2px solid;
   }

   .h td{
      color:green;
   }



    header{
        margin:0% 10% 0% 10%;
    }

    header h2{
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        color:#3a6ab7;
    }

    .doc{
        text-indent: 30px;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        border:0px solid #3a6ab7;
        padding:2%;
        margin-bottom: 3%;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    main h3{
        text-align:center;
        color:#3a6ab7;
    }
    main {
        margin:0% 10% 3% 10%;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }

    footer{
        margin:0% 10% 0% 10%;
        background-color: #eff0f1;
        font-size:14px;
    }

    .pic{
        background-image:url("images/logo1.png")
    }