{% extends 'base2.html' %}

{% block head %}
	<title>О Ассоциации</title>
{% endblock %}

{% block body %}
	<header>
		<h2>Ассоциация выпускников</h2>
		<br>
		<div class="doc">
            <p>Ассоциация выпускников Фрунзенского политехнического института (ФПИ)- Кыргызского государственного технического университета им. И. Раззакова (КГТУ) - (далее Ассоциация) - является основанным на членстве добровольным объединением выпускников, созданным в соответствии с Уставом КГТУ, и на основании решения Ученого совета КГТУ.</p>
	           <p> «Ассоциация выпускников ФПИ-КГТУ» - уникальное интеллектуальное сообщество, объединяющее политеховцев как на базе профессионального образования, так и на основе общих интересов и увлечений.</p>
            <p><b>Миссия, цели и задачи Ассоциации</b></p>
	<p>Миссией Ассоциации является сплочение и социальное продвижение выпускников университета всех поколений для совместной работы.</p>
	<p>Главной целью Ассоциации является:</p>
    <p>
        - развивать партнерские отношения между выпускниками университета, сохранять единство ценностей и интересов;</p>

            <p>- объединение усилий выпускников по повышению общественной значимости и признания университета, поддержанию корпоративной традиции выпускников ФПИ-КГТУ;</p>

           <p> - формирование комплекса связей среди членов Ассоциации;</p>

            <p>- укрепление корпоративного единства на всех уровнях;</p>

            <p>- реализация эффективного механизма лоббирования интересов членов Ассоциации;</p>

            <p>- повышение эффективности использования интеллектуального потенциала выпускников университета и его возможностей по подготовке и переподготовке кадров для повышения благосостояния и внутреннего потенциала членов Ассоциации;</p>

            <p>- содействие подготовке высококвалифицированных специалистов по реализуемым в университете образовательным программам,</p>

            <p>Предметом деятельности Ассоциации является:</p>

            <p>- Организация взаимосвязей между выпускниками университетом и укрепление их связей с вузом;</p>

            <p>- Установление связей между органами власти, представителями бизнеса и университетом по подготовке квалифицированных специалистов, развитию механизмов социальной интеграции и научной деятельности;</p>

            <p>- Участие в создании в университете инновационных технологий и структур;</p>

            <p>- Привлечение в университет одаренной молодежи;</p>

            <p>- Поддержка талантливых студентов, аспирантов, преподавателей, а также научных программ и проектов;</p>

            <p>- Развитие и укрепление традиций университетом;</p>

            <p>- Проведение тематических встреч;</p>

            <p>Для достижения поставленной цели Ассоциация, реализуя свои права, решает следующие задачи;</p>

            <p>- создает банк данных о выпускниках КГТУ;</p>

            <p>- содействует развитию эффективных форм повышения профессиональной квалификации выпускников КГТУ;</p>

            <p>- содействует развитию инновационных форм и технологий организации учебного процесса и управления;</p>

            <p>- оказывает содействие КГТУ в работе по профориентации молодежи, по новому набору в КГТУ, по распределению и трудоустройству выпускников КГТУ;</p>

            <p>- развивает (создает) новые коллективные формы информационного, обслуживания Ассоциации;</p>

            <p>- создает условия для приоритетной реализации научно-практических идей, непосредственно касающихся членов Ассоциации;</p>

            <p>- выявляет источники финансирования, ресурсного обеспечения и организует конкурсы проектов и программ на получение государственных и других наиболее значимых заказов;</p>

            <p>- организует выставки, конференции, семинары, школы, конкурсы и т.д.;</p>

            <p>- разрешает споры, возникающие между членами Ассоциации;</p>

            <p>- содействует развитию эффективных форм участия членов Ассоциации в создании хорошо оснащенной материальной базы КГТУ.</p>
    </p>
		</div>
	</header>
{% endblock %}