{% extends 'base2.html' %}

{% block head %}
	<title>О Ассоциации</title>
{% endblock %}

{% block body %}
	<header>
		<h2>Ассоциация выпускников</h2>
		<br>
		<div class="doc">
            <p>Ассоциация выпускников Фрунзенского политехнического института (ФПИ)- Кыргызского государственного технического университета им. И. Раззакова (КГТУ) - (далее Ассоциация) - является основанным на членстве добровольным объединением выпускников, созданным в соответствии с Уставом КГТУ, и на основании решения Ученого совета КГТУ.</p>
	           <p> «Ассоциация выпускников ФПИ-КГТУ» - уникальное интеллектуальное сообщество, объединяющее политеховцев как на базе профессионального образования, так и на основе общих интересов и увлечений.</p>
            <p><b>Миссия, цели и задачи Ассоциации</b></p>
	<p>Миссией Ассоциации является сплочение и социальное продвижение выпускников университета всех поколений для совместной работы.<br>
	Главной целью Ассоциации является:</p>
    <p>
        - развивать партнерские отношения между выпускниками университета, сохранять единство ценностей и интересов;<br>

            - объединение усилий выпускников по повышению общественной значимости и признания университета, поддержанию корпоративной традиции выпускников ФПИ-КГТУ;<br>

            - формирование комплекса связей среди членов Ассоциации;<br>

            - укрепление корпоративного единства на всех уровнях;<br>

            - реализация эффективного механизма лоббирования интересов членов Ассоциации;<br>

            - повышение эффективности использования интеллектуального потенциала выпускников университета и его возможностей по подготовке и переподготовке кадров для повышения благосостояния и внутреннего потенциала членов Ассоциации;<br>

            - содействие подготовке высококвалифицированных специалистов по реализуемым в университете образовательным программам,<br>

            Предметом деятельности Ассоциации является:<br>

            - Организация взаимосвязей между выпускниками университетом и укрепление их связей с вузом;<br>

            - Установление связей между органами власти, представителями бизнеса и университетом по подготовке квалифицированных специалистов, развитию механизмов социальной интеграции и научной деятельности;<br>

            - Участие в создании в университете инновационных технологий и структур;<br>

            - Привлечение в университет одаренной молодежи;<br>

            - Поддержка талантливых студентов, аспирантов, преподавателей, а также научных программ и проектов;<br>

            - Развитие и укрепление традиций университетом;<br>

            - Проведение тематических встреч;</p>

            <p><b>Для достижения поставленной цели Ассоциация, реализуя свои права, решает следующие задачи;</b></p>

            <p>- создает банк данных о выпускниках КГТУ;<br>

           - содействует развитию эффективных форм повышения профессиональной квалификации выпускников КГТУ;<br>

           - содействует развитию инновационных форм и технологий организации учебного процесса и управления;<br>

           - оказывает содействие КГТУ в работе по профориентации молодежи, по новому набору в КГТУ, по распределению и трудоустройству выпускников КГТУ;<br>

           - развивает (создает) новые коллективные формы информационного, обслуживания Ассоциации;<br>

           - создает условия для приоритетной реализации научно-практических идей, непосредственно касающихся членов Ассоциации;<br>

           - выявляет источники финансирования, ресурсного обеспечения и организует конкурсы проектов и программ на получение государственных и других наиболее значимых заказов;<br>

           - организует выставки, конференции, семинары, школы, конкурсы и т.д.;<br>

           - разрешает споры, возникающие между членами Ассоциации;<br>

           - содействует развитию эффективных форм участия членов Ассоциации в создании хорошо оснащенной материальной базы КГТУ.<br>
    </p>
		</div>
	</header>
{% endblock %}