{% extends 'base2.html' %}

{% block head %}
<title>Галлерея</title>
{% endblock %}

{% block body %}
    <header>
        <div class="gallery">
            <div class="photo_item">
                <table>
                    <tr>
                        <td><img src="/media/images/1.jpg" style="width:150px;height:160px;"></td>
                        <td>
                            <ul style="list-style-type: none;">
                                <li><b>Жамалдинов Зиядин Исламович</b></li>
                                <li>Депутат Жогорку Кенеша VI созыва</li>
                                <li>Заместителем председателя Комитета по бюджету и финансам</li>
                                <li>Государственный советник государственной службы II класса</li>
                                <li>1988 году окончил технологический факультет Фрунзенского политехнического института</li>
                                <li>Контакты: 0312 63-85-04; 0312 63-90-59</li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="photo_item">
                <table>
                    <tr>
                        <td><img src="/media/images/2.jpg" style="width:150px;height:160px;"></td>
                        <td>
                            <ul style="list-style-type: none;">
                                <li><b>Мавлянова Махабат Эргешовна</b></li>
                                <li>Депутат Жогорку Кенеша Кыргызской Республики VI созыва</li>
                                <li>В 1997 году окончила Кыргызский государственный университет им. И.Раззакова по специальности «Инженер-технолог»</li>
                                <li>Государственный советник государственной службы II класса</li>
                                <li>1988 году окончил технологический факультет Фрунзенского политехнического института</li>
                                <li>E-mail: erkinbekov.kg@gmail.com</li>
                                <li>Контакты:  0312 63-89-15, 0555175171</li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="photo_item">
                <table>
                    <tr>
                        <td><img src="/media/images/3.jpg" style="width:150px;height:160px;"></td>
                        <td>
                            <ul style="list-style-type: none;">
                                <li><b>Октябрин Садыров</b></li>
                                <li>Вице-президент ОсОО «Стюарт Эссей энд Инвайронментал Лэборэторис»</li>
                                <li>Контакты: 6-19-25, 6-42-50, 6-42-51</li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="photo_item">
                <table>
                    <tr>
                        <td><img src="/media/images/4.jpg" style="width:150px;height:160px;"></td>
                        <td>
                            <ul style="list-style-type: none;">
                                <li><b>Амонзода Илхом Темур</b></li>
                                <li>Ректор Технологического университета  Таджикистана кандидат технических наук, доцент</li>
                                <li>E-mail: rectorat@tut.tj; ilhomamonov@mail.ru</li>
                                <li>Контакты:(+992 37)234 79 88</li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </header>
{% endblock %}
