<! doctype html>
<html>
<head>
	<title>Приветсвенная страница</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}

	<link rel="stylesheet" type="text/css" href="{% static 'global/style.css' %}">

</head>
<body>
	<header>
		<h2>Уважаемые выпускники ФПИ-КГТУ им.И.Раззакова!</h2>
		<br>
		<div class="doc">
			<p>Созданный в 1954 году Фрунзенский политехнический институт ныне (КГТУ им.И.Раазакова) на протяжении долгих лет осуществляет подготовку высококвалифицированных специалистов для всей страны, ее регионов и городов, а также стран ближнего и дальнего зарубежья.
	ФПИ-КГТУ им.И.Раззакова и сегодня динамично развивается, оставаясь одним из ведущих научных и образовательных учреждений Кыргызстана.</p>
	<p>Главным богатством ФПИ-КГТУ являются его выпускники, которых к настоящему времени насчитывается более 100 000 человек. С целью укрепления связей с выпускниками ФПИ-КГТУ и со  всеми заинтересованными в развитии университета, в настоящее время продолжает свою работу «Ассоциация выпускников ФПИ-КГТУ».</p>
	<p>Ассоциация объединяет всех тех, кто, или иначе был причастен к нашему университету в объединенную социальную сеть, чтобы способствовать их социальной активности. Именно здесь зарождаются и культивируются идеи сохранения исторических традиций ФПИ-КГТУ и дальнейшего развития университета. Мы намерены вывести Alma Mater  в лидеры не только среди вузов Кыргызстана, но и вузов мирового сообщества.</p>
	<p>Ректорат и общий коллектив университета всегда помнит и гордится своими славными выпускниками, которые вносят достойный вклад в дальнейшее развитие нашей страны. Для нас каждый выпускник принадлежит к уникальному сообществу тех, кто так или иначе, был причастен к истории, научному и культурному наследию университета. Современная задача всех нас сохранить  эти лучшие традиции, что в наших силах. В этих целях в свое время была создана Ассоциация наших выпускников.</p>
	<p>В рамках Ассоциации призываем объединиться и поддержать родной университет, профессию, ученых и специалистов, которые несмотря на все трудности научно-образовательной сферы продолжают развивать университет и дают дорогу в новую профессиональную жизнь. </p>
		</div>
	</header>
	<main>
		<h3>Добро пожаловать в Ассоциацию!</h3>
			<div class="fot">
				<p>Ассоциация приглашает выпускников всех лет к общению. Просим вас перейти по этой <a href="{% url 'student:add' %}">ссылке</a> и заполнить форму.</p>
			</div>
	</main>
	<footer>
		<ul style="list-style-type: none;">
			<li>Телефоны:</li>
			<li>E-mail:</li>
			<li>Адресс:</li>
		</ul>
	</footer>
</body>
</html>
</body>
</html>