    .navbar-expand-lg{
        background-color:#0360a5;
    }

    header{
        margin:0% 10% 0% 10%;
    }

    header h2{
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        color:#0360a5;
    }

    .doc{
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        border:0px solid #0360a5;
        padding:2%;
        margin-bottom: 3%;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    main h3{
        text-align:center;
        color:#0360a5;
    }
    main {
        margin:0% 10% 0% 10%;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }

    footer{
        margin:0% 10% 0% 10%;
        background-color: #eff0f1;
        font-size:14px;
    }

    .gallery{
    margin:2% 0% 2% 5%;
    }

    .photo_item{
        margin-top:2%;
    }

    .photo_item img{
        width: 140px;
        height: 160px;
    }